html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

li:hover {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .d-none {
    display: none;
  }
}

@font-face {
  font-family: dubai;
  src: url(/fonts/Dubai-Regular.ttf);
}

body {
  font-family: dubai;
}

.toggle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 0.9rem;
}

@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
}

.toggle-btn:hover {
  color: #fe7401;
  cursor: pointer;
}

.brand-logo-div-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .brand-logo-div-nav {
    display: contents;
  }
}

@media screen and (min-width: 768px) {
  .navig {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .navli {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-a {
  padding: 1rem;
  color: #f0f0f0;
}

.nav-list {
  padding-bottom: 0.6rem;
}

.nav-a:hover {
  color: #fe7401;
}

.reservation-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .reservation-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.6rem 0.9rem;
    background-color: #fe7401;
    color: #f0f0f0;
    border: none;
  }
}

.reservation-btn:hover {
  cursor: pointer;
}

.fa-calendar-alt {
  margin-right: 0.6rem;
}

#landing-page {
  background-image: url(/Assets/homepage/Background.png);
  height: 100vmin;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
}

.bg-overlay {
  height: 100vmin;
  background-color: rgba(0, 0, 0, 0.6);
}

.covid {
  background-color: #504026;
  color: #f0f0f0;
  border: none;
  padding: 0.4rem 0.6rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .covid {
    margin-top: 2.5rem;
  }
}

.landing-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .landing-holder {
    width: 100%;
    height: 70vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landing-holder .landing-holder-left {
  display: none;
}

@media screen and (min-width: 768px) {
  .landing-holder .landing-holder-left {
    width: 2%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landing-holder .landing-holder-left .circle {
  height: 12px;
  width: 12px;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 50%;
}

.landing-holder .landing-holder-left .empty {
  border: 1px solid white;
  height: 10px;
  width: 10px;
  background-color: transparent;
  margin-top: 1rem;
  border-radius: 50%;
}

.landing-holder .lander-holder-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .landing-holder .lander-holder-right {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.landing-holder .lander-holder-right .welcome-p {
  font-size: 1.5rem;
}

.landing-holder .lander-holder-right .horizon {
  width: 15rem;
}

.landing-holder .lander-holder-right .text-white {
  color: #fff;
}

.fase {
  width: 60px;
  display: block;
  text-align: center;
  font: normal 45px "FontAwesome";
  line-height: 60px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.double-down:before {
  content: "\f107";
}

.bounce {
  display: none;
}

@media screen and (min-width: 768px) {
  .bounce {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bounce {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border-radius: 50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@font-face {
  font-family: tfarrow;
  src: url(/fonts/TFArrow-Bold.ttf);
}

.kigoma-text {
  font-size: 3rem;
  font-family: tfarrow;
}

.rooms-and-suites-landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .rooms-and-suites-landing-container {
    margin-top: 0;
    height: 80vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.rooms-and-suites-landing-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .rooms-and-suites-landing-right {
    margin-top: 0;
  }
}

.rooms-and-suites-landing-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .rooms-and-suites-landing-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
    max-width: 60%;
    padding-left: 2rem;
  }
}

.rooms-and-suites-landing-left .rooms-and-rates-header-text {
  font-size: 1.5rem;
  font-family: tfarrow;
}

.rooms-and-suites-landing-left .rooms-and-rates-caption-text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .rooms-and-suites-landing-left .rooms-and-rates-caption-text {
    text-align: start;
    width: 100%;
    max-width: 85%;
  }
}

.book-now {
  background-color: #fe7401;
  padding: 0.7rem 1rem;
  border: none;
  color: #f0f0f0;
}

.book-now:hover {
  background-color: transparent;
  border: 0.12rem solid #fe7401;
  color: #fe7401;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  cursor: pointer;
  position: absolute;
}

.btn-view-rooms {
  padding: 0.6rem 0.8rem;
  background-color: transparent;
  border: 0.15rem solid #504026;
  margin-bottom: 0.8rem;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .btn-view-rooms {
    margin-right: 2rem;
  }
}

.btn-view-rooms:hover {
  cursor: pointer;
  background-color: #504026;
  color: #fff;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

@media screen and (min-width: 768px) {
  .rooms-and-suites-landing-right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.rooms-and-suites-landing-img {
  width: 29rem;
  max-width: 90%;
  height: 23rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular-heading-header-text {
  text-align: center;
  font-family: tfarrow;
}

@media screen and (min-width: 768px) {
  .popular-offering-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.popular-offering-same {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .popular-offering-same {
    width: 33.3%;
  }
}

.popular-img-same {
  width: 100%;
  max-width: 90%;
}

.pricing-popular-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .pricing-popular-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.popular-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.popular-caption-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  height: 33vmin;
}

@media screen and (max-width: 768px) {
  .popular-caption-area-three {
    height: 42vmin;
  }
}

.popular-room-name {
  font-family: tfarrow;
  font-size: 1.2rem;
}

.font-bold {
  font-weight: bold;
}

.pricing-btn {
  background-color: #fe7401;
  padding: 0.7rem 1rem;
  border: none;
  color: #f0f0f0;
}

.gallery-section-heading-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-section-heading-div .gallery-header-one {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.gallery-section-heading-div .gallery-header-t {
  font-family: tfarrow;
  font-size: 2rem;
}

.gallery-section-home {
  margin: 3rem 0;
}

body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 85vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("/Assets/rooms-and-rates/family-suite.png");
}

.slide2 {
  background-image: url("/Assets/rooms-and-rates/garden-room.png");
}

.slide3 {
  background-image: url("/Assets/rooms-and-rates/governors-suite.png");
}

.slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-left:hover {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  border-color: transparent #574d4d transparent transparent;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}

#arrow-right:hover {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  border-color: transparent #574d4d;
}

.facilities-heading {
  text-align: center;
  font-size: 1.6rem;
  font-family: tfarrow;
}

.img-facilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .img-facilities {
    width: 22rem;
    max-width: 95%;
    height: 18rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.img-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .img-caption {
    width: 89.3%;
    max-width: 80%;
  }
}

.img-caption-header {
  width: 100%;
  max-width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .img-caption-header {
    width: 89.3%;
    max-width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .img-gallery-area-one {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .img-gallery-area-two {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .img-div {
    width: 33.3%;
  }
}

#message-manager-home {
  padding: 3rem 0;
}

@media screen and (min-width: 768px) {
  .message-holder-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.message-p {
  text-align: center;
  font-size: 2rem;
  font-family: tfarrow;
}

.left-message-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .left-message-home {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.right-message-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .right-message-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
    width: 60%;
    max-width: 65%;
  }
}

#contact-us-home {
  background-image: url(/Assets/homepage/background-contact-div.png);
  height: 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.contact-us-home-heading-text {
  font-size: 2rem;
  font-family: tfarrow;
}

.form-home {
  width: inherit;
  max-width: 70%;
}

.input-class {
  margin-top: 1rem;
  border: none;
  padding: 0.5rem 0rem;
  width: 100%;
  max-width: 70%;
  margin: 1rem auto;
  outline: none;
}

.placeholder-center {
  text-align: center;
}

#input-text-home {
  display: block;
}

#input-email-home {
  display: block;
}

.input-submit-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-submit {
  padding: 0.6rem 0.8rem;
  background-color: #fe7401;
  border: none;
  margin-top: 1rem;
  color: #f0f0f0;
}

.strong {
  font-weight: bold;
}

#feel-free-to-contact-us {
  padding-bottom: 4rem;
}

.feel-free-heading-text {
  text-align: center;
  font-size: 3rem;
  font-family: tfarrow;
}

@media screen and (min-width: 1200px) {
  .feel-free-heading-text {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .feel-free-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: inherit;
  }
}

.feel-free-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 868px) {
  .feel-free-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 37.3%;
  }
}

.feel-free-left .left-img {
  width: 15%;
}

.feel-free-left .feel-free-left-text {
  padding-top: 1rem;
  width: 75%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .feel-free-left .feel-free-left-text {
    width: 80%;
  }
}

.feel-free-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) {
  .feel-free-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 868px) {
  .feel-free-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 30.3%;
  }
}

@media screen and (min-width: 768px) {
  .feel-free-right {
    width: 31.3%;
  }
}

.feel-free-right .li-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1120px) {
  .feel-free-right .li-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.socialiconsdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media screen and (min-width: 768px) {
  .socialiconsdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}

.socialiconsdiv .fab {
  padding-right: 1rem;
}
/*# sourceMappingURL=home-second.css.map */