html {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

li:hover {
  list-style: none;
}

@font-face {
  font-family: dubai;
  src: url(/fonts/Dubai-Regular.ttf);
}

body {
  font-family: dubai;
}

// Start of navigation section styliing

.navig {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
  }
}

.navli {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav-a {
  padding: 1rem;
  color: #f0f0f0;
}

.nav-a:hover {
  color: #fe7401;
}

.reservation-btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0.6rem 0.9rem;
    background-color: #fe7401;
    color: #f0f0f0;
    border: none;
  }
}

.reservation-btn:hover {
  cursor: pointer;
}

// Start of landing-page header  stylng

#landing-page {
  background-image: url(/Assets/homepage/Background.png);
  height: 100vmin;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
}

.bg-overlay {
  height: 100vmin;
  background-color: rgba(0, 0, 0, 0.6);
}

.covid {
  background-color: #504026;
  color: #f0f0f0;
  border: none;
  padding: 0.4rem 0.6rem;
  margin-top: 2.5rem;
}

.landing-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    width: 100%;
    height: 70vmin;
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    // background-color: red;
  }
  .landing-holder-left {
    display: none;
    @media screen and (min-width: 768px) {
      width: 2%;
      max-width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .circle {
      height: 12px;
      width: 12px;
      background-color: #fff;
      margin-top: 1rem;
      border-radius: 50%;
    }
    .empty {
      border: 1px solid white;
      height: 10px;
      width: 10px;
      background-color: transparent;
      margin-top: 1rem;
      border-radius: 50%;
    }
  }
  .lander-holder-right {
    // background-color: yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      width: 98%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .horizon {
      width: 4rem;
    }

    .text-white {
      color: #fff;
    }
  }
}

@font-face {
  font-family: tfarrow;
  src: url(/fonts/TFArrow-Bold.ttf);
}

.kigoma-text {
  font-size: 56px;
  font-family: tfarrow;
}

// Start of rooms-and-suites section styling

.rooms-and-suites-landing-container {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 4rem;
  @media screen and (min-width: 768px) {
    height: 80vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background-color: red;
  }
}

.rooms-and-suites-landing-right {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    // display: flex;
  }
}

.rooms-and-suites-landing-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    max-width: 60%;
    // background-color: green;
    padding-left: 2rem;
  }

  .rooms-and-rates-header-text {
    font-size: 1.5rem;
  }

  .rooms-and-rates-caption-text {
    // background-color: red;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: start;
      width: 100%;
      max-width: 85%;
    }
  }
}

.book-now {
  background-color: #fe7401;
  padding: 0.7rem 1rem;
  border: none;
  color: #f0f0f0;
}

.btn-view-rooms {
  padding: 0.6rem 0.8rem;
  background-color: transparent;
  border: 0.15rem solid #504026;
  margin-bottom: 0.8rem;
  margin-right: 1rem;
  @media screen and (min-width: 768px) {
    margin-right: 2rem;
  }
}

.rooms-and-suites-landing-right {
  @media screen and (min-width: 768px) {
    width: 50%;
    // background-color: yellow;
    display: flex;
    justify-content: center;
  }
}

.rooms-and-suites-landing-img {
  width: 29rem;
  max-width: 90%;
  height: 23rem;
  object-fit: cover;
}

// Start of facilities-home section styling

.img-facilities {
  display: flex;
  width: 100%;
  max-width: 90%;
  margin: auto;
  @media screen and (min-width: 768px) {
    width: 22rem;
    max-width: 95%;
    height: 18rem;
    object-fit: cover;
  }
}

.img-caption {
  display: flex;
  width: 100%;
  max-width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  @media screen and (min-width: 768px) {
    width: 89.3%;
    max-width: 80%;
  }
}

.img-caption-header {
  //   display: flex;
  width: 100%;
  max-width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  @media screen and (min-width: 768px) {
    width: 89.3%;
    max-width: 80%;
    // text-align: center;
  }
}

.img-gallery-area-one {
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
  }
}

.img-gallery-area-two {
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
  }
}

.img-div {
  @media screen and (min-width: 768px) {
    width: 33.3%;
  }
}

// Start of message-manager-home section styling

#message-manager-home {
  //   background-color: red;
  padding: 3rem 0;
}

.message-holder-home {
  //   background-color: blue;
  //   width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.message-p {
  text-align: center;
  font-size: 2rem;
}

.left-message-home {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.right-message-home {
  //   background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 60%;
    max-width: 65%;
    // background-color: yellow;
  }
}

// Start of contact-us-home section styling

#contact-us-home {
  background-image: url(/Assets/homepage/background-contact-div.png);
  height: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   background-color: blue;
  padding: 3rem 0;
  width: 100%;
}

.contact-us-home-heading-text {
  font-size: 2rem;
}

.form-home {
  width: inherit;
  max-width: 70%;
  //   background-color: yellow;
}

.input-class {
  margin-top: 1rem;
  border: none;
  padding: 0.4rem 0rem;
  //   background-color: red;
  width: 100%;
  max-width: 70%;
  margin: 1rem auto;
}

#input-text-home {
  display: block;
}

#input-email-home {
  display: block;
}

.input-submit-div {
  display: flex;
  justify-content: center;
}

.input-submit {
  padding: 0.6rem 0.8rem;
  background-color: #fe7401;
  border: none;
  margin-top: 1rem;
  color: #f0f0f0;
}

// Start of feel-free-to-contact-us  section styling

.strong {
  font-weight: bold;
}

#feel-free-to-contact-us {
  padding-bottom: 4rem;
}

.feel-free-heading-text {
  text-align: center;
  font-size: 4rem;
}

.feel-free-container {
  //   background-color: red;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    // padding-top: 0;
  }
}

.feel-free-left {
  //   background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  //   padding-bottom: 1rem;
  @media screen and (min-width: 868px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 37.3%;
  }
  .left-img {
    width: 15%;
  }

  .feel-free-left-text {
    // background-color: red;
    padding-top: 1rem;
    width: 75%;
    margin: auto;
    @media screen and (min-width: 768px) {
      width: 80%;
    }
  }
}

.feel-free-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 600px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 868px) {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 30.3%;
  }
}

.feel-free-right {
  @media screen and (min-width: 768px) {
    width: 31.3%;
  }
  .li-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1120px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.socialiconsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  .fab {
    padding-right: 1rem;
  }
}
