@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

$color-one: #fe7401;
$color-two: #504026;
$color-three: #ffffff;

@font-face {
  font-family: "Dubai";
  src: url("../Assets/Fonts/Dubai-Bold.tff");
  src: url("../Assets/Fonts/Dubai-Medium.ttf");
  src: url("../Assets/Fonts/Dubai-Regular.ttf");
  src: url("../Assets/Fonts/Dubai-Light.ttf");
}

@font-face {
  font-family: "TFArrow";
  src: url("../Assets/Fonts/TFArrow.tff");
}

*,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-three;
}

a:hover {
  text-decoration: none;
  color: $color-one;
  font-weight: bold;
}

.nav-one {
  font-weight: lighter;
}

li {
  list-style: none;
}

body {
  color: $color-three;
}

#landing-page {
  background-image: url(../Assets/Images/Homepage/Background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100vmin;
}

.nav-lists {
  //   margin-right: 130px;
  margin-top: 41px;
}

.brand-logo {
  height: 72px;
  width: 72px;
  margin: 40px 0 0 0;
}

.img-calendar {
  height: 24px;
  width: 24px;
}

.btn-reservation {
  height: 40px;
  width: 200px;
  background-color: $color-one;
  margin-top: 51px;
}

.btn-covid {
  background-color: $color-two;
  height: 45px;
  width: 220px;
}

.welcome {
  font-size: 27px;
  font-weight: 400;
}

.kigoma {
  font-family: TFArrow;
  font-size: 76px;
  font-weight: 400;
  color: $color-three;
  margin: 0px 0 0px 0;
}

.horizontal {
  width: 350px;
  border: 0.5px solid $color-three;
  //   border-radius: 0.5px;
  margin: auto;
}

.orange-bg {
  background-color: $color-one;
}

.button-div-class {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.img-one-div {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.img-one {
  height: 475px;
  width: 545px;

  @media screen and (max-width: 600px) {
    height: 450px;
    width: 450px;
  }
}

.suite {
  height: 370px;
  width: 370px;
  @media screen and (max-width: 992px) {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
}

.suite-name {
  @media screen and (max-width: 992px) {
    text-align: center;
    margin-top: 20px;
  }
}
